html{     /*Эта конструкция ниже очень важна и всегда одинакова, всегда ее нужно писать*/
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    /*font-family: 'Oswald',sans-serif;
    font-weight: 400px;*/
    background-image: url(/img/back_phon_wee.jpg);
    background-size: 110%;
}

/*Это у нас классы для тегов меню */

.menutool{
    min-width: 1501px;
    min-height: 65px;
    display: inline;
    grid-template-columns: repeat(2,1fr);
    gap:60px;
    position: sticky;
    z-index: 10;
}

.menu-tools{
    max-width:410px;
    max-height: 16px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    text-decoration: none;
    width: 410px;
    padding-left: 950px;
    text-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.514);
}

.li-tool{
    text-decoration: none;
    color:#3b464b;
    font-size:20px;
    font-family: 'Semibold','Franklin Gothic Medium';
    height: 12px;
    transition: color 1.3s ease; /* Плавный переход цвета за 0.3 секунды */
    text-shadow: 1px 8px 16px 0px rgba(0, 0, 0, 0.514);
}

.li-tool:hover {
    color: rgba(0, 119, 255, 0.781); /* Меняем цвет текста на красный при наведении */
  }

.logos-menu{
    width: 130px;
    height: 38px;
    position: relative;
    top: 30px;
    left: 231px;
}

/*Это у нас классы для тега секции и его тегов*/

.sec1{
    max-width: 1901px;
    max-height: 900px;
    background-color: rgba(128, 128, 128, 0.479);
    width: 1200px;
    height: 900px;
    margin-left: 180px;
    margin-top: 80px;
}

.container-info{
    max-width:700px;
    max-height: 500px;
    height: 500px;
    width: 700px;
    background-color: rgba(43, 36, 36, 0.664);
    background-size: 120%;
    position: relative;
    top: 20px;
    margin-left: 20px;
}

.zagalovoc{
    font-size: 25px;
    font-weight: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    padding-left: 300px;
    padding-top: 50px;
    color: white;
}

.hrs{
    margin-left: 400px;
    margin-bottom: 20px;
    color: rgba(0, 102, 255, 0.651);
    background-color: rgba(0, 47, 255, 0.863);
}